<div class="border-2 border-red-500 flex flex-1 flex-col h-full">
    <div class="flex flex-grow-0 border-4 border-orange-500 justify-center">{{model?.label}} - {{model?.date?.toLocaleDateString('en-GB')}}</div>
    <div class="flex flex-grow flex-col gap-2 p-2">
        <div *ngFor="let item of model?.tasks" class="bg-blue-500 rounded-md px-2 py-1 hover:cursor-pointer" (click)="showDetails(item)" >
            <div class="card">
                <div class="container">
                    <h2><b>{{item.date.toLocaleString()}}</b></h2>
                  <h4><b>{{item.label}}</b></h4>
                  <p>{{item.idEmployee}}</p>
                  <p>Début : {{item.heureDeb.toLocaleString()}}</p>
                  <p>Fin : {{item.heureFin.toLocaleString()}}</p>
                </div>
              </div> 
        </div>
    </div>
</div>