<button (click)="disconnect()" class="p-2 bg-red-500 m-2 rounded text-white ">Se déconnecter</button>

<div class="min-h-full w-full flex flex-col border-4 border-blue-700">
    <section name="menu" class="flex flex-grow-0 bg-slate-300 px-3">
        <div name="period" class="flex-grow flex flex-row space-x-2">
            <button (click)="today()">Aujourd'hui</button>
            <button (click)="previousWeek()">Avant</button>
            <button (click)="nextWeek()">Après</button>
        </div>
        <div name="duration" class="flex flex-grow flex-row justify-end px-2 space-x-2 border border-emerald-600">
            <button>Jour</button>
            <button>Semaine</button>
            <button>Mois</button>
            <button>Année</button>
        </div>
    </section>

    <section name="agenda" class="flex-grow border border-orange-600 h-full p-3">
        <div name="schedule" class="border border-slate-900 w-11/12 bg-slate-100 h-full mx-auto flex flex-col">
            <div class="flex flex-1 flex-row">
                <app-day-element *ngFor="let item of weekLabels" class="flex flex-1" [model]="item" ></app-day-element>
            </div>
        </div>
    </section>

    <button id="addTaskButton" (click)="addTaskButton()" class="right-5 bottom-5 absolute z-10 text-4xl text-white rounded-full bg-blue-500 w-16 h-16" >+</button>
</div>
